body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    height: 100vh;
    background: linear-gradient(to right, #111, #444);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-btn {
    margin-top: 25px;
    padding: 14px 30px;
    background: orange;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
}
